

@media (min-width: 1024px) and (max-width: 1200px){
.Section2Input0InternalText{
    font-size: 16px !important;
}
.Section2ButtonDiv{
    padding-left: 0% !important;
}
.Section2Button{
    width: 10% !important;
}
.Section2ButtonImg{
    width: auto !important;
}
}
